body {
  background-color: #ffffff;
  /*font-family: 'Indie Flower', cursive;
    font-size: 4em;*/
}
a {
  color: #ff9900;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
header {
  margin-top: 20px;
  padding-bottom: 20px;
  /*margin-top: 20px;
    padding-bottom: 20px;*/
  border-bottom: solid 1px #ff9900;
}
header .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ddd;
}
header .navbar-toggle .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  border: 0;
}
header .navbar-toggle .icon-bar {
  background-color: #888;
}
header .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
header .nav-pills > li > a {
  color: #808080;
  /*font-weight: bold;*/
  padding-bottom: 3px;
}
header .nav-pills > li > a:focus {
  outline: 0;
  /*color: red;*/
  background-color: transparent !important;
}
header .nav-pills > .active > a,
header .nav-pills > .active > a:hover,
header .nav-pills > li > a:hover {
  text-decoration: none;
  font-weight: bold;
  border-radius: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ff9900;
  color: #000 !important;
  background-color: transparent !important;
}
header .navbar-header img {
  margin-right: 80px;
}
header .site-header {
  /*background-color: blue;*/
  margin-right: 20px;
  margin-left: 3px;
}
.mainview {
  margin-top: 20px;
  padding-top: 0;
}
.page-header {
  margin: 10px 0 15px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: none;
  color: #ff9900;
}
.page-header-black {
  margin: 10px 0 15px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: none;
  color: #000;
}
.page-subtitle {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: none;
  color: #ff9900;
}
.carousel-control {
  background-image: none !important;
  background-repeat: no-repeat !important;
  color: #ff9900;
  /*span {
        color: #797979;
        display: none !important;
    }*/
}
.carousel-control:hover {
  color: #ff9900;
}
.carousel-caption {
  color: black;
  text-shadow: none;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}
.panel .panel-heading {
  font-weight: bold;
}
@media (min-width: 768px) {
  .fixed-panel {
    min-height: 160px;
    max-height: 160px;
    overflow-y: no-display;
  }
}
@media (min-width: 992px) {
  .fixed-panel {
    min-height: 170px;
    max-height: 170px;
    overflow-y: no-display;
  }
}
@media (min-width: 1200px) {
  .fixed-panel {
    min-height: 160px;
    max-height: 160px;
    overflow-y: no-display;
  }
}
footer {
  border-top: solid 1px #ff9900;
  margin-top: 20px;
  padding: 10px;
}
